{
  "base": {
    "forums": {
      "enabled": true
    },
    "url": {
      "avatars": "https://forums.mrgreengaming.com/uploads/"
    },
    "mapupload": {
      "Race": {
        "host": "race.mrgreengaming.com",
        "port": 22005,
        "ssh": {
          "user": "mtarace",
					"keyFileName": "key.pem",
					"password": "",
          "host": "",
          "port": 1234
        }
      },
      "RaceMix": {
        "host": "racemix.mrgreengaming.com",
        "port": 22005,
        "ssh": {
          "user": "mtamix",
					"keyFileName": "key.pem",
					"password": "",
          "host": "",
          "port": 1234
        }
      }
    },
    "databases": {
      "base": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "",
        "connectionLimit": 10
      },
      "forums": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "",
        "connectionLimit": 10
      },
      "mtaservers": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "mrgreengaming_mtasrvs",
        "connectionLimit": 10
      }
    },
    "configReloadTimeSeconds": 900,
    "api": {
      "forums" : {
        "oAuthClient" : "",
        "apiKey":"",
        "apiBaseUrl": "https://forums.mrgreengaming.com/api/core/"

      }
    }
  }
}
