{
  "base": {
    "forums": {
      "enabled": true
    },
    "url": {
      "avatars": "https://mrgreengaming.com/forums/uploads/"
    },
    "mapupload": {
      "Race": {
        "host": "",
        "port": 22005,
        "folder": ""
      },
      "RaceMix": {
        "host": "",
        "port": 22005,
        "folder": ""
      }
    },
    "ftp": {
      "host": "",
      "user": "",
      "password": ""
    },
    "databases": {
      "base": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "",
        "connectionLimit": 10
        
      },
      "forums": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "",
        "connectionLimit": 10
      },
      "mtaservers": {
        "host": "",
        "port": 3306,
        "user": "",
        "password": "",
        "databaseName": "mrgreengaming_mtasrvs",
        "connectionLimit": 10
      }
      
    },
    "configReloadTimeSeconds": 900,
    "api": {
      "forums" : {
        "oAuthClient" : "",
        "apiKey":"",
        "apiBaseUrl": "https://www.mrgreengaming.com/forums/api/core/"

      }
    }
  }  
}